In [1]:
from dwtest import dwtest
import pandas as pd

In [2]:
df = pd.read_excel('examples.xlsx')
print('Head of dataset')
display(df.head())

Head of dataset

   Year  Consumption  Income   Price
0  1870       1.9565  1.7669  1.9176
1  1871       1.9794  1.7766  1.9059
2  1872       2.0120  1.7764  1.8798
3  1873       2.0449  1.7942  1.8727
4  1874       2.0561  1.8156  1.8984

In [4]:
statistic, pvalue = dwtest('Consumption ~ Income + Price', data=df)
print(f'statistic: {statistic}')
print(f'p-value: {pvalue}')

statistic: 0.23256959790608317
p-value: 1.775617346367745e-26